<!DOCTYPE html>
<html>
  <head>
    <title>PAPP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-dark bg-primary" >
        <!-- Navbar content -->
        <a class="navbar-brand" href="#" style="color: white">HOME</a>
        <a class="navbar-brand" href="#" style="color: white">LOL</a>
      </nav>
      <br><br>

      <form action="/" method="post">
        <div class="form-group">
          <label for="email">Masukan Url kedalam input : </label>
          <br><br>
          <input type="text" class="form-control" name="url">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Short Url</button>
      </form>
      <br>
      <p></p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Short Link</th>
            <th>Long Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <a href="<%= long %>" target="_blank"> <%= short %> </a> </td>
            <td> <a href="<%= long %>" target="_blank"> <%= long %> </a>  </td>
          </tr>
        </tbody>
      </table>
      <br><br>

      <h2>History</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Short Link</th>
            <th>Long Link</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i<result.length; i++) { %>
            <tr>
              <td> <a href="<%= result[i].long %>" target="_blank"> <%= result[i].short %> </a> </td>
              <td> <a href="<%= result[i].long %>" target="_blank"> <%= result[i].long %> </a>  </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
    </nav>
  </body>
</html>
