extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    .container
      form(method='POST', action='/urls')
        .form-group
          label(for='exampleInputUrl1') Input Url
          input#exampleInputUrl1.form-control(type='text', placeholder='Url to shorten', name='urltoshorten')
        button.btn.btn-primary(type='submit') Submit
    br
    br
    if dbcontent
    table.table.table-hover
      thead
        tr
          th Link
          th Short link
          th click_count
      each obj in dbcontent
        tbody
          tr
            td #{obj.link}
            td
              a(href='/'+obj.name target='_blank') cool/#{obj.name}
            td #{obj.click_count}
