extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    .container
      form(method='POST', action='/urls')
        .form-group
          label(for='exampleInputUrl1') Input Url
          input#exampleInputUrl1.form-control(type='text', placeholder='Url to shorten', name='urltoshorten')
        button.btn.btn-primary(type='submit') Submit
    if dbcontent
      p Link yang pernah di akses :
      ul
        each obj in dbcontent
          li
            | #{obj.link} shortened by cool to
            a(href='/'+obj.link target='_blank')  #{obj.name}
            |||||||  click count : #{obj.click_count}
